.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    right: 48px;
    top: 50%;
    z-index: 2;
    text-decoration: none;
    color: #2f80ed;
    transition: all .3s linear; 
    opacity:1;
  }

  .feynman__link:hover {
    opacity:0.5;
  }