.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.header__title {
  margin-block-start :0;
  margin-block-end: 0;
  display: flex;
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  width: 730px;
  margin: auto 0 auto 64px;
  z-index: 2;
}

.header__subtitle {
  margin-block-start :0;
  margin-block-end: 0;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/*     ***************     секция проблемы      ***************      */

.description {
  display: flex;
  margin: auto;
}

.two-columns {
  width: 80%;
  display: flex;
  margin: 100px auto;
  justify-content: space-between;
}

.brief_heading {
  width: 175px;
  margin: 0;
  display: flex;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-top: 0;
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}

.two-columns__paragraph:last-child {
margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bolder;
}

/*   ***************   секция цифры и факты    ***************   */

.digits {
  display: flex;
  flex-direction: column;
}

.section-title {
  display: flex;
  width: 60%;
  margin: 0 auto 0 auto;
  flex-direction: column;
  align-items: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
}

.section-subtitle {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin: 0 auto 100px;
  align-items: flex-start;
}

.table__cell {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin-top: 60px;
}

.table__heading {
  display: flex;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}

.table__text {
  display: flex;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

/*     ***************     секция фейнман       ***************     */

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  z-index: 1;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  margin: 100px auto 0;
  text-align: center;
}

.feynman__subtitle {
  display: flex;
  justify-content: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin: 70px auto 0;
}

.feynman__face {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 867px;
  height: 637px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 2;
  text-decoration: none;
  color: #2f80ed ;
}

/*     ***************     секция кауфман     ***************       */

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.section-title_theme_dark {
  width: 60%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  margin: 90px auto 0;
  color:white; 
}

.section-subtitle_theme_dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0;
  color:white; 
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color:white; 
}

.table__text_theme_dark {
  margin-block-start :0;
  margin-block-end: 0;
  color:white; 
}

/*      ***************       футер        ***************      */

.footer {
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto 0;
  padding: 60px 0 40px 0;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.logo_place_footer {
  display: flex;
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  color:white; 
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
  color:white; 
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color:white; 
  display: flex;
  text-decoration: none;
  align-items: center;
}

.footer__social-link {
  text-decoration: none;
  color: white;
}